src/main/resources/wsdl/allotz.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:ota="http://www.opentravel.org/OTA/2003/05"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:tns="http://channellink.allotz.com/soap/v1"
        xmlns:ws="http://channellink.allotz.com/soap/v1"
        targetNamespace="http://channellink.allotz.com/soap/v1">

    <wsdl:types>

        <xs:schema targetNamespace="http://www.opentravel.org/OTA/2003/05">
            <xs:include schemaLocation="./ota/OTA_HotelResNotifRQ.xsd"/>
            <xs:include schemaLocation="./ota/OTA_HotelResNotifRS.xsd"/>
            <xs:include schemaLocation="./ota/OTA_PingRQ.xsd"/>
            <xs:include schemaLocation="./ota/OTA_PingRS.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <xs:include schemaLocation="./oasis-200401-wss-wssecurity-secext-1.0.xsd"/>
        </xs:schema>

        <xs:schema targetNamespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
            <xs:include schemaLocation="./oasis-200401-wss-wssecurity-utility-1.0.xsd"/>
        </xs:schema>

    </wsdl:types>

    <wsdl:message name="OTA_HotelResNotifRQMessage">
        <wsdl:part element="wsse:Security" name="Security"/>
        <wsdl:part element="ota:OTA_HotelResNotifRQ" name="OTA_HotelResNotifRQ"/>
    </wsdl:message>

    <wsdl:message name="OTA_HotelResNotifRSMessage">
        <wsdl:part element="ota:OTA_HotelResNotifRS" name="OTA_HotelResNotifRS"/>
    </wsdl:message>

    <wsdl:message name="OTA_PingRQMessage">
        <wsdl:part element="wsse:Security" name="Security"/>
        <wsdl:part element="ota:OTA_PingRQ" name="OTA_PingRQ"/>
    </wsdl:message>

    <wsdl:message name="OTA_PingRSMessage">
        <wsdl:part element="ota:OTA_PingRS" name="OTA_PingRS"/>
    </wsdl:message>

    <wsdl:portType name="ChannelLinkServicePort">

        <wsdl:operation name="HotelResNotifRQ">
            <wsdl:input message="tns:OTA_HotelResNotifRQMessage"/>
            <wsdl:output message="tns:OTA_HotelResNotifRSMessage"/>
        </wsdl:operation>

        <wsdl:operation name="PingRQ">
            <wsdl:input message="tns:OTA_PingRQMessage"/>
            <wsdl:output message="tns:OTA_PingRSMessage"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="ChannelLinkServiceBinding" type="tns:ChannelLinkServicePort">

        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="HotelResNotifRQ">
            <soap:operation soapAction="http://channellink.allotz.com/soap/v1/HotelResNotifRQ"/>
            <wsdl:input>
                <soap:header message="tns:OTA_HotelResNotifRQMessage" part="Security" use="literal"/>
                <soap:body parts="OTA_HotelResNotifRQ" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OTA_HotelResNotifRS" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="PingRQ">
            <soap:operation soapAction="http://channellink.allotz.com/soap/v1/PingRQ"/>
            <wsdl:input>
                <soap:header message="tns:OTA_PingRQMessage" part="Security" use="literal"/>
                <soap:body parts="OTA_PingRQ" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="OTA_PingRS" use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="ChannelLinkService">
        <wsdl:port binding="tns:ChannelLinkServiceBinding" name="ChannelLinkServicePort">
            <soap:address location="https://channellink.allotz.com/soap/v1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
